<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
<ul>
<li>Popular Languages used for Data Science</li>
<li>Common libraries used by Data Scientists</li>
<li>Code to Convert Minutes into Hours</li>
</ul>

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Keras
4. Pandas

<table>

<tr>
<th> Data Science Tools </th>
</tr>

<tr>
<td>R Studio</td>
</tr>

<tr>
<td>TensorFlow</td>
</tr>

<tr>
<td>Apache Hadoop</td>
</tr>

</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
# This a simple arithmetic expression to mutiply then add integers:
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60:
minutes = 200;
hour = minutes / 60;
print(hour)

3.3333333333333335

<h2> Author </h2>
<p>Ismail Ahmed</p>